html,
body {
      /* padding: 10px; */
    background-color: #d4d4d4;
    margin: 0 auto;
    max-width: 768px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

table,
td {
  padding: 0;
  margin: 0;
}

.uppercase {text-transform: uppercase;font-weight: bold;}

.alert-info {
        color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.undecorate {
  text-decoration: none;
  color: #76B729;
}

.locked .pick {
    color: #7a7a7a;
}

.spacer {
  height: 5px;
  background-color: transparent;
}

.login-button{display: block;
    font-size: 10px;
    text-align: center;
    color: #000 !important;}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.verify {
    color: #76B729;
    font-weight: bold;
    text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.green {
  color: #75B82A;
}

.theme-color {
  color: #333;
}

.dark-gray, #main .mybets .bet .pending, #main .betdetail .title .status .pending, #main .betdetail .summary td, #main .terms {
  color: #5d5d5d;
}

.padding-up-down {
  padding: 8px 0;
}

#header {
  border-collapse: collapse;
  width: 100%;
}

#header a {
  color: #363636;
  text-decoration: none;
}

#header table {
  border-collapse: collapse;
  width: 100%;
}

.brandt{
  border-collapse: collapse;
  width: 100%;
}
.brandt {
  background-color: #75B82A;
  color: white;
}
.brand {
  background-color: #75B82A;
  color: white;
}

.brand .logo a img {
  height: 30px;
}

.brand td {
  padding: 2px 5px;
}

.brand .betslip {
  text-align: right;
  border-collapse: collapse;
  background-color: #75B82A;
  color: white;
  font-size: 12px;
}

.brand .betslip--count {
    background-color: #ffd800;
    padding: 3px 6px;
    font-weight: bold;
}

#header .session {
  text-transform: uppercase;
  height: 30px;
  text-align: center;
  border-collapse: separate;
  margin-top: 4px;
}

.odd-del{width: 20px;}

#header .session .loggedin td {
  width: 25%;
}

#header .session tr td {
  background-color: white;
  width: 50%;
}

#header .session tr td a {
    color: #6b6b6b;
    font-weight: bold;
    font-size: 9px;
    display: block;
}

#header .nav {
  text-align: center;
  margin-top: 4px;
  font-size: 12px;
  border-right: 2px solid #DEDFE4;
  border-left: 2px solid #DEDFE4;
  /*td:last-child {
              border-right: 2px solid $gray;
          }
          td:first-child {
              border-left: 2px solid $gray;
          }*/
}

#header .nav .selected {
  background-color: #76B729;
  color: #fff;
}

#header .nav .selected a {
  color: white !important;
}

#header .nav td {
  background-color: white;
  padding: 2px;
}

#header .nav td a {
  color: #686868;
  display: block;
  padding: 5px;
}

.jp{width: 100%;}

#main {
  border-collapse: collapse;
  width: 100%;
  /*border-right: 2px solid $gray;*/
}

#main .landing {
  border-collapse: collapse;
  width: 100%;
  border-left: 2px solid #d4d4d4;
  border-right: 2px solid #d4d4d4;
}

#main .landing .top {
  width: 100%;
  border-collapse: collapse;
}

#main .landing .top--image {
  border-right: 2px solid #DEDFE4;
}

#main .landing .top--nav {
  background-color: white;
  border-collapse: collapse;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 0px;
}

#main .landing .top--nav td {
  text-align: center;
  width: 33%;
  padding: 2px;
}

#main .landing .top--nav td a {
    color: #666666;
    text-decoration: none;
    display: block;
    padding: 6px;
}

#main .landing .top--nav .selected {
  border-bottom: 0px solid #363636;
  background-color: #76B729;
  color: #FBD703;
}

#main .landing .top--nav .selected a {
  color:#FBD703;
}

.landing .top--search form table {
  border-collapse: collapse;
}

.landing .top--search form input {
    width: 100%;
    border: 1px solid #caccd4;
    height: 28px;
    padding: 0 5px;
    background-color: #fbfbfb;
}

.landing .top--search form button {
  width: 100%;
  border: none;
  height: 30px;
  background-color: #76B729;
  color: white;
}

#main .highlights {
  color: #333;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 0px 0;
}

.mkt-headers{
	color: #59629B;
	padding-top: 5px;
	font-size: 11px;
	height: 26px;
	background: #fff;
	margin-top: 3px;
	padding-left:3px;
}
table.highlights, div.highlights{
   margin-bottom:60px !important;
}
#main .highlights--item {
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%;
    margin: 2px 0;
}

#main  .highlights--item .selected {
    background-color: #f8e892;
    color: #333 !important;
}

#main .highlights--item .selected table td a {
  color: #333333;
  text-decoration: none;
  display: block;
  width: 100%;
}

#main .highlights--item .league {
  width: 100%;
}

#main .highlights--item .league td {
    color: #5d5d5d;
    font-size: 10px;
    padding: 0px;
}

#main .highlights--item .game {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#main .highlights--item .game .clubs {
  text-align: left;
  padding-left: 5px;
}

#main .highlights--item .game .sidebet {
    text-align: center;
    border: 1px solid #DEDFE4;
    background-color: #f2f2f4;
    max-width: 35px;
    display: block;
    float: right;
}

#main .highlights--item .game .sidebet a {
    color: #FF015B;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
}

.sidebets {padding: 0 0px;}

#main .highlights--item .odds {
      background-color: #fbfbfb;
    color: #76B729;
    font-size: 12px;
    border-top: 1px solid #b5b5b5;
}

#main .highlights--item .odds table {
  width: 100%;
}

#main .highlights--item .odds td {
  /*height: 20px;*/
}

#main .highlights--item .odds td a {
    color: #FF015B;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: right;
    padding: 4px 0;
}

#main .highlights--item .odds .clubone {
  padding: 0px;
  text-align: left;
}

.picked, .picked  td button{
	background: #27357E !important;
  color: #FFF !important;
}

.draw{border-right: 1px solid #b5b5b5;border-left: 1px solid #b5b5b5;}

#main .highlights--item .odds .border-td {
    height: 100%;
    width: 1px;
    background-color: #b5b5b5;
}

#main .highlights--item .odds .border-tr > td {
  height: 2px;
  width: 100%;
  background-color: #DEDFE4;
}

#main .highlights--item .odds .draw {
  text-transform: uppercase;
}

#main .highlights--item .odds .draw td {
  text-align: center;
}

#main .highlights--item .odds .clubtwo {
  padding: 0px;
  /*border-top: px solid darken($gray, 0%);*/
  text-align: left;
}

#main .highlights--item .odds .odd {
  /** font-weight: bold; **/
}


#main .highlights--item .meta{
    padding: 5px 0;
}

#main .pagination {
  /*background-color: #DEDFE4;*/
  font-size: 12px;
}

#main .pagination table {
  margin: 0 auto;
}

#main .pagination table .selected {
  background-color: #333;
}

#main .pagination table td {
  background-color: #636363;
  width: 30px;
  height: 30px;
  text-align: center;
}

#main .pagination table td a {
  color: white;
  text-decoration: none;
}

#main .betslip {
  border-collapse: collapse;
  color: #333333;
}

#main .betslip .delete {
  text-align: center;
  vertical-align: center;
}

.alert {
    font-size: 13px;
    padding: 4px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.remove-match{background: #a0a0a1;
    border: none;
    font-size: medium;
    color: #fff;}

#main .betslip .delete a {
  background-color: #a6a9b6;
  color: white;
  padding: 5px 10px;
}

#main .betslip a {
  text-decoration: none;
  color: #76B729;
}

#main .betslip .bet {
    background-color: white;
    color: #333;
    font-size: 12px;
    width: 100%;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

#main .betslip .bet td {
  padding: 0 2px;
}

#main .betslip .bet tr {
  height: 4px;
}

#main .betslip .bet .game {
  font-weight: bold;
}

#main .betslip .bet .type {
  color: #585b6b;
  font-weight: 100;
}

#main .betslip .bet .pick {
  font-weight: bold;
}

#main .betslip .bet .odd {
  font-weight: bold;
}

#main .betslip .title {
  background-color: #f7f7f9;
  color: #76B729;
  height: 30px;
  font-size: 12px;
}

.bold{font-weight: bold;}

#main .betslip .details {
  background-color: #fafafb;
  font-size: 12px;
  margin-bottom: 2px;
}

#main .betslip .details .left {
    border-right: 2px solid #DEDFE4;
    padding: 5px 5px;
    width: 45%;
}

#main .betslip .details .right {
  border-left: 2px solid #DEDFE4;
  padding: 5px 5px;
}

#main .betslip .details .right form input {
  width: 80%;
  height: 28px;
  padding: 0 5px;
  min-width: 20px;
  border: 2px solid #ecedef;
}

#main .betslip .details .right .update {
    background-color: #444444;
    color: white;
    border: none;
    height: 30px;
    width: 100%;
}

#main .betslip .details .right .place {
    width: 100%;
    height: auto;
    background-color: #FFD800;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 0;
}

#main .betslip .details tr {
  height: 30px;
}

#main .betslip.top{
	margin-bottom: 150px;
}
.errorMessage{
display: block;
width: 100%;
color: #700000;
background: #DEDEDE;
margin: 0px;
padding: 3px 0px;
}
#main .betslip .delete-all {
    text-align: center;
    color: #ff1a1a;
    text-transform: uppercase;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    vertical-align: top;
    border: none;
    background: transparent;
    margin: auto;
    display: table;
}

#main .football {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 12px;
}

.jp .game td {padding-top: 2px;}

#main .football .title {
    color: #27357f;
    height: 35px;
    text-align: left;
    padding-left: 5px;
}

#main .football .menu {
  background-color: white;
  color: #76B729;
  border-bottom: 1px solid #DEDFE4;
}

.menu {
  background-color: white;
  color: #76B729;
  border-bottom: 1px solid #DEDFE4;
}

.aoi {
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 3px;
}
.sport{margin: 0;
    list-style-type: none;
    padding: 0;}

.sport .competition > a {font-weight: bold;}

.lgue {padding-left: 15px !important;}

.sport-header{font-weight: bold;
    text-transform: uppercase;
    color: #76B729 !important;
    background: #fff;
    display: block;
    padding: 10px;}

.gothb{color: #252525;
    text-decoration: none;
    display: block;
    max-width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #dedfe4;
    font-weight: bold;}

.aoi li a{color: #686868;
    text-decoration: none;
    display: block;
    max-width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #DEDFE4;}



#main .football .menu a {
    color: #686868;
    text-decoration: none;
    display: block;
    max-width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
}

hr{border: 1px solid #f4f5f6;}

.text-center{text-align: center;}

.menu a {
    color: #686868;
    text-decoration: none;
    display: block;
    max-width: 100%;
    height: 100%;
    padding: 6px;
    font-size: 12px;
    text-align: center;
}

#main .football .menu .text {
  vertical-align: middle;
}

.full-width{width: 100%;}

#main .football .menu .icon {
  font-size: 19px;
  vertical-align: middle;
}

#main .sports {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 12px;
}

#main .sports .category {
  width: 100%;
}

#main .sports .category .title {
  background-color: #76B729;
  color: white;
  height: 35px;
  text-align: left;
  padding-left: 5px;
}

#main .sports .category .sub-category {
  width: 100%;
  background-color: white;
  color: #76B729;
  /*border-bottom: 1px solid $gray;*/
}

#main .sports .category .sub-category th {
  text-align: left;
  padding-left: 10px;
}

#main .sports .category .sub-category tr {
  border-bottom: 1px solid #DEDFE4;
  height: 30px;
}

#main .sports .category .sub-category td {
  padding-left: 30px;
}

#main .jackpot {
  width: 100%;
}

#main .jackpot--title {
  background-color: #f4f5f6;
  color: #76B729;
  height: 30px;
  font-size: 14px;
  border: none;
}


.jp-matches .row{background: #fff;
    padding: 3px;
    margin: 5px;overflow: auto;}

.jp-matches .row .bold{font-weight: bold;text-transform: uppercase;}
.jp-matches .row .teams{padding: 5px;}

 .jp-matches .row button{float: left;
    background: #f3f3f3;
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 10px;
    outline: none;}

.bet > td {padding: 2px;}

#main .jackpot .highlights {
  color: #333;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 5px 0;
}

.one-row{width: 100% !important;}
.two-rows{width: 50% !important;}
.three-rows{width: 33.33% !important;}

.place {
    width: 100%;
    padding: 10px 0;
    background-color: #FFD800;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
	border-radius:5px;
}
.total-stake{padding: 5px 0;}

.pick{display: block;
    /* float: left; */
  }
.odd{}

.placebet{text-align: center;}

.placebet .met{color: #333;font-size: 14px;}
.placebet .stake-amt{color: #000;font-weight: bold;}
#place_bet_button{margin-top: 5px;}
#main .jackpot .highlights--item {
  background-color: white;
  border-collapse: collapse;
  margin-bottom: 5px;
}

#main .jackpot .highlights--item .selected {
  background-color: #76B729;
  color: white !important;
}

#main .jackpot .highlights--item .selected table td a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
}

#main .jackpot .highlights--item .league {
  width: 100%;
}

#main .jackpot .highlights--item .league td, .meta {
  color: #636779;
  font-size: 9px;
  padding: 0px;
}

#main .jackpot .highlights--item .game {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#main .jackpot .highlights--item .game .clubs {
  text-align: left;
  padding-left: 5px;
}

#main .jackpot .highlights--item .game .sidebet {
  text-align: center;
  padding: 0;
  border: 2px solid #DEDFE4;
  background-color: #f2f2f4;
}

#main .jackpot .highlights--item .game .sidebet a {
  color: #76B729;
  text-decoration: none;
  display: block;
}

#main .jackpot .highlights--item .odds {
  background-color: #f2f2f4;
  color: #76B729;
  font-size: 12px;
}

#main .jackpot .highlights--item .odds table {
  width: 100%;
}

#main .jackpot .highlights--item .odds td {
}
/**
#main .odds td button {
    color: #333;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 4px 0;
    border: none;
    outline: none;
    background: transparent;
}
**/
.successMessage{
    background: #fff;
	margin-top: 1px;
	padding: 10px;
	color:#006400;
}
#main .odds td button {
    color:rgba(0,0,0,.7);
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    border: none;
    outline: none;
    background: #ECECEF;
    border-radius: 3px;
}

#main .highlights--item .league td.team-names{
    font-size:11px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2px 0px;
}
.sidebet-card{color: #333;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background: #fff;
    color: #333;
    text-align: center;
    border-collapse: collapse;
    background: #fff;
    display: block;}

.sidebet-header{background: #e4e4e4;
    clear: both;
    display: block;
    padding: 6px;
    font-size: 13px;
    margin-top: 5px;
    border-top: 5px solid #d4d4d4;
    font-weight: 700;
    text-align: left;}

.odd-value{font-weight: bold;display: inline-block;
    float: right;}

.side-label {
    text-align: left;
    display: inline-block;
    float: left;
}

.odds-w{width: 33%;}

.sidebet-card button{display: block;
    float: left;
    background: #ffffff;
    border: none;
    display: inline-block;
    border: 1px solid #e0e0e0;
    padding: 8px 3px;
    width: 50%;
    outline: none;
}

#main .jackpot .highlights--item .odds .clubone {
  padding: 0 5px;
  border-top: 2px solid #dedfe4;
  text-align: left;
}

#main .jackpot .highlights--item .odds .draw {
  border-left: 2px solid #dedfe4;
  border-right: 2px solid #dedfe4;
  border-top: 2px solid #dedfe4;
  text-transform: uppercase;
}

#main .jackpot .highlights--item .odds .draw td {
  text-align: center;
}

#main .jackpot .highlights--item .odds .clubtwo {
  border-top: 2px solid #dedfe4;
  text-align: left;
}

#main .jackpot .highlights--item .odds .odd {
  font-weight: bold;
}

#main .bingwa4 {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 12px;
}

#main .title {
    background-color: #efefef;
    color: #76B729;
    font-size: 14px;
    padding: 5px;
}

.reset-password a{color: #76B729;text-decoration: none;font-weight: bold;}

#main .bingwa4 .match {
  width: 100%;
  margin: 5px 0;
  background-color: white;
  color: #76B729;
}

#main .bingwa4 .match th {
  background-color: #76B729;
  color: white;
}

#main .bingwa4 .match td {
  display: inline-block;
  background-color: #DEDFE4;
  color: #76B729;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
}

#main .register {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  background-color: white;
  font-size: 12px;
}

#main .register p {
  color: #41434f;
  text-align: justify;
  line-height: 1.5;
  margin: 5px 0;
  padding: 5px;
}

#main .register .title {
    background-color: #ecedef;
    color: #76B729;
    height: 30px;
    font-size: 14px;
}

#main .register .form {
  width: 100%;
  border-collapse: collapse;
}

#main .register .form .spacer {
  height: 10px;
}

#main .register .form .input {
  margin: 2px 0;
}

#main .register .form .input .checkbox {
  font-size: 12px;
  font-weight: bold;
  color: #41434f;
}

#main .register .form .input .checkbox a {
  text-decoration: none;
  color: #76B729;
}

#main .register .form .input div {
  padding: 0 20px;
  margin-left: -10px;
}

#main .register .form .input div label {
      display: block;
    color: #333;
    font-weight: bold;
}

#main .register .form .input div input {
    width: 100%;
    border: 2px solid #696b74;
    height: 30px;
    padding: 0 5px;
    margin: 5px 0;
    font-size: 14px;
    vertical-align: middle;
    color: #333;
    font-weight: bold;
}

#main .register .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .register .form .input button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #76B729;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main .register tr {
  height: 30px;
}

#main .login {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  background-color: white;
  font-size: 12px;
}

#main .login .title {
  background-color: transparent;
  color: #76B729;
  height: 30px;
  font-size: 14px;
}

#main .login .form {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

#main .login .form .spacer {
  height: 10px;
}

#main .login .form .input {
  margin: 2px 0;
}

#main .login .form .input .checkbox {
  font-size: 12px;
  font-weight: bold;
  color: #41434f;
}

#main .login .form .input .checkbox a {
  text-decoration: none;
  color: #76B729;
}

#main .login .form .input div {
  padding: 0 20px;
  margin-left: -10px;
}

#main .login .form .input div label {
    display: block;
    color: #333;
    font-weight: bold;
}

#main .login .form .input div input {
    width: 100%;
    border: 2px solid #5d5d5d;
    height: 30px;
    padding: 0 5px;
    margin: 5px 0;
    font-size: 14px;
    vertical-align: middle;
    color: #333;
    font-weight: bold;
}

#main .login .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .login .form .input button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #76B729;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main .login tr {
  /*height: 30px;*/
}

#main .mybets {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: #76B729;
}

#main .mybets table {
  width: 100%;
  text-align: center;
  /*border-collapse: collapse;*/
}

.stake {
    border: 2px solid #444;
    height: 24px;
    margin-right: -15px;
    width: 50px;
}

#main .mybets .title {
  background-color: #f4f5f6;
  height: 30px;
  font-size: 12px;
  border: none;
}

#main .mybets .bet {
  font-size: 10.8px;
  font-weight: bold;
}

#main .mybets .bet .won {
  color: #4F8A10;
}

#main .mybets .bet .lost {
  color: #76B729;
}

#main .mybets .bet .cancelled {
  color: #ff3333;
}

#main .mybets .bet table {
  background-color: white;
  margin-top: 2px;
  border: 1px solid white;
}

#main .mybets .bet table td {
  padding: 5px;font-weight: normal;
}

#main .mybets .bet .title {
  height: 30px;
  padding: 5px;
  background-color: white;
}

#main .mybets .bet .detail {
  background-color: #f4f5f6;
}

#main .betdetail {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 10.8px;
}

#main .betdetail table {
  width: 100%;
  text-align: center;
}

#main .betdetail td, #main .betdetail th {
  padding: 2px 5px;
}

#main .betdetail .title {
  background-color: #f4f5f6;
  color: #76B729;
  height: 30px;
  font-size: 14px;
  border: none;
}

#main .mybets .bet .title td{font-weight: bold;}

#main .betdetail .title .status {
  font-size: 10.8px;
  font-weight: bold;
}

#main .betdetail .title .status .won {
  color: #4F8A10;
}

#main .betdetail .title .status .lost {
  color: #76B729;
}

#main .betdetail .title .status .cancelled {
  color: #ff3333;
}

#main .betdetail .summary {
  background-color: #fff;
  border-collapse: separate;
  margin-top: 5px;
}

#main .betdetail .summary td {
  background-color: #f4f5f6;
}

#main .betdetail .event {
  background-color: white;
  margin-bottom: 5px;
}

#main .betdetail .event .title {
  height: 30px;
  padding: 5px;
  background-color: white;
}

#main .betdetail .event .detail {
  background-color: #f4f5f6;
}

#main .deposit {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: #686868;
  font-size: 12px;
}

#main .deposit .title {
  background-color: #ecedef;
  color: #76B729;
  height: 30px;
  font-size: 14px;
}

#main .deposit .form {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

#main .deposit .form .spacer {
  height: 10px;
}

#main .deposit .form .input {
  margin: 2px 0;
}

#main .deposit .form .input .checkbox {
  font-size: 12px;
  font-weight: bold;
  color: #41434f;
}

#main .deposit .form .input .checkbox a {
  text-decoration: none;
  color: #76B729;
}

#main .deposit .form .input div {
  padding: 0 20px;
  margin-left: -10px;
}

#main .deposit .form .input div label {
  display: block;
  font-weight: bold;
}

#main .deposit .form .input div input {
    width: 100%;
    border: 2px solid #686868;
    height: 30px;
    padding: 0 5px;
    margin: 5px 0;
    font-size: 14px;
    vertical-align: middle;
    color: #333;
    font-weight: bold;
}

#main .deposit .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .deposit .form .input button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #76B729;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main .deposit tr {
  height: 30px;
}

#main .withdraw {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: #686868;
    font-size: 12px;
}

#main .withdraw .title {
  background-color: #ecedef;
  color: #76B729;
  height: 30px;
  font-size: 14px;
}

#main .withdraw .form {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

#main .withdraw .form .spacer {
  height: 10px;
}

#main .withdraw .form .input {
  margin: 2px 0;
}

#main .withdraw .form .input .checkbox {
  font-size: 12px;
  font-weight: bold;
  color: #41434f;
}

#main .withdraw .form .input .checkbox a {
  text-decoration: none;
  color: #76B729;
}

#main .withdraw .form .input div {
  padding: 0 20px;
  margin-left: -10px;
}

#main .withdraw .form .input div label {
    display: block;
    color: #686868;
    font-weight: bold;
}

#main .withdraw .form .input div input {
    width: 100%;
    border: 2px solid #333;
    height: 30px;
    padding: 0 5px;
    margin: 5px 0;
    font-size: 14px;
    vertical-align: middle;
    color: #333;
    font-weight: bold;
}

#main .withdraw .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .withdraw .form .input button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #76B729;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main .withdraw tr {
  height: 30px;
}

#main .feature {
  width: 100%;
  border-collapse: collapse;
  /*border: 1px solid $white;*/
  color: #76B729;
}

#main .feature .title {
  background-color: #f7f7f9;
  color: #76B729;
  height: 30px;
  font-size: 14px;
  border: none;
}

#main .feature .title .game {
  text-transform: uppercase;
  font-weight: bold;
}

#main .feature .title .details {
    font-size: 10px;
    font-weight: normal;
    color: #7b7b7b;
}

#main .feature .title .details td {
  padding: 2px;
}

#main .feature .item {
  font-size: 12px;
}

#main .feature .item > td {
  border: none;
}

#main .feature .item table {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  background-color: white;
  border-collapse: collapse;
}

#main .feature .item table .detail {
  background-color: #f4f5f6;
}

#main .feature .item table th {
  padding: 10px 5px;
  background-color: white;
  padding: 10px 5px;
  height: 100%;
}

#main .feature .item table td {
  padding: 5px;
}

#main .feature .item table .border-right {
  border-right: 1px solid white;
}

#main .feature .item table .border-left {
  border-left: 1px solid white;
}

#main .feature .item table .border-bottom {
  border-bottom: 1px solid white;
}

#main .feature .item table .border-top {
  border-top: 1px solid white;
}

#main .terms {
  padding: 5px;
  background-color: white;
  width: 100%;
  font-size: 12px;
}

#main .terms h1,
#main .terms h2,
#main .terms h3,
#main .terms h4,
#main .terms strong {
  color: #333;
}

#main .terms a {
  text-decoration: none;
  font-weight: bold;
  color: #76B729;
}

#contacts {
  width: 100%;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  color: #76B729;
  text-align: center;
  /*padding: 5px;*/
}

#contacts p {
  margin: 5px 0;
}

#contacts p span {
  font-weight: 100;
  color: #6f7387;
}

#contacts a {
  text-decoration: none;
  color: #76B729;
}

#footer {
  background-color: #DEDFE4;
  width: 100%;
  color: #8a8d9f;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 12px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
}

#footer .social-icons ul li {
  display: inline-block;
}

#footer .social-icons ul svg {
  color: #8a8d9f;
  fill: #8a8d9f;
  width: 30px;
}
.profile .menu{background-color: #f5f5f5;}
.profile .menu a {
    color: #333;font-weight: bold;}

#footer .top {
  color: #8a8d9f;
  text-transform: uppercase;
}

#footer td {
  vertical-align: top;
  text-align: center;
}

#footer a {
  color: #8a8d9f;
  text-decoration: none;
}

.menu-table{

}

.menu-table .menu-t{
}


.menu-wrapper {
    max-width:100vw;
    width:100%vw;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 768px) {

    .menu-wrapper {

        width:768px;
        max-width:768px;
    }
}


.menu-wrapper::-webkit-scrollbar {
  display: none;
}

table.menu-table tr{
  white-space: nowrap; 
}

table tr td .menu-t{
    background-color:#D4D4D4;
    display: inline-block;
    padding-right: 4px;
    height: auto !important;
    margin-top: 5px !important;
	font-size:13px;
}
.menu-t .menu-img{
    width: 100% !important;
    height:20px !important;
    text-align: center;  
    padding:5px 0px;
}
.menu-t  a{
}
.menu-t img{

}
.menu-t div.inner-div{
    background-color: #fff; 
    border-radius:4px; 
    padding:5px 10px;
}
.menu-table .active
{
   background-color: #dddfff !important;
}
.freebet-btn {
    color: #717168;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    border: none;
    outline: none;
    background: #ECECEF;
    border-radius: 3px;
	font-size:12px;
}
.freebet-text{
    width:100%;
	font-size:11px;
    text-align:justify;
}
.freebet-text-container{
	background: #919191;
	color: #fff;
	padding: 5px 0;
	margin-top: 5px !important;
	display: block;
	margin-left: 2px;
	margin-right: auto;
	border-collapse: collapse;
}
