<a href="/" style="display:block; margin-left:2px; margin-right:2px;">
	<img  width="100%"  src="/img/banner.jpeg" alt="PATA Tip na BOB" /> 
</a>

<table id="main">
  <tr>
    <td>
      {{ partial('partials/matches') }}
    </td>
  </tr>
</table>